
<!-- <courses></courses> -->
<!-- <favorite [isFavorite] = false (change) = "onFavoriteChanged($event)"></favorite> -->
<!--  -->
<!-- <bootstrap-pannel>
    <ng-container class="heading">Heading</ng-container>
    <ng-container class="body">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est expedita aperiam ipsum voluptatum, quasi amet commodi in ducimus at. Voluptatibus alias expedita quisquam recusandae dolorum voluptates odit molestias cupiditate omnis...</p>
    </ng-container>
</bootstrap-pannel> -->
<!-- <like [numberOfLikes] = "like.numberOfLikes" [isClicked] = "like.isClicked"></like> -->
<!-- <input type = "text" [appInputFormat] = "'upperCase'"/> -->
<zippy title = "This is heading">This is the body</zippy>
<zippy title = "This is heading">This is the body</zippy>